<div class="container-fluid d-flex justify-content-center">

  <div calss="vstack gap-3">

    <div class="p-2">
      <h2>SCORE</h2>
    </div>

    <div class="p-2">
      <p><%= @message %></p>
    </div>

  </div>

</div>
